

.background { 
   // background: url(../../../public/images/bg.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.login__button {
    background: $blue;
    color: white;
    border: none;
    font-weight: 300;
    font-size: $font-size-lg;
    padding: $sm-size;
}